.size {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

label{
    float: left;
    padding : 0 1em;
    text-align: center;
}
.error{
    text-align: center;
    color: red;
}