.wrapper {
    display: grid;
    grid-template-columns: auto 500px auto;
    grid-template-rows: 50px 50px auto auto;
}

.email {
    text-align: center;
    grid-area: 1 / 2 / 2 / 3;
}

.password {
    text-align: center;
    grid-area: 2 / 2 / 3 / 3;
}

.btn{
    text-align: center;
    grid-area: 3 / 2 / 4 / 3;
}
.error{
    text-align: center;
    grid-area: 4 / 2 / 5 / 3;
    color: red;
}
