.wrapper {
    display: grid;
    grid-template-columns: auto 500px auto;
    grid-template-rows: auto 70px 70px auto auto;
}

.typography {
    text-align: center;
    grid-area: 1 / 2 / 2 / 3;
    padding-top: 20px;
}

.email {
    text-align: center;
    grid-area: 2 / 2 / 3 / 3;
}

.password {
    text-align: center;
    grid-area: 3 / 2 / 4 / 3;
}

.btn {
    text-align: center;
    grid-area: 4 / 2 / 5 / 3;
}

.error {
    text-align: center;
    grid-area: 5 / 2 / 6 / 3;
    color: red;
}
