.wrapper {
    display: grid;

   /* grid-template-columns: 200px 200px 200px 70px 70px 100px;*/

    grid-template-columns: 200px 200px 200px 70px 70px 120px;
}
.page_wrapper{
    margin-top: 20px;
    display: flex;
}
.page{
    padding: 5px;
    border: 1px solid #f57c00;
    cursor: pointer;
}
.page_current{
    padding: 5px;
    cursor: pointer;
    background: #f57c00;
    font-weight: bold;
}
.error{
    color:red
}