.wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    min-width: 1100px;
}

.month {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14%;
    height: 50px;
    background: #ffe0b2;
    border: 1px solid white;
    border-radius: 5px;
    order: 5
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14%;
    height: 135px;
    min-height: 50px;
    background: #ffe0b2;
    border: 1px solid white;
    order: 7
}

.content:hover {
    cursor: pointer;
}

.zero {
    display: flex;
    width: 14%;
    height: 100px;
    border: 1px solid white;
    order: 5
}

.btns {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}