.page, .limit {
    padding: 5px;
    border: 1px solid #f57c00;
    cursor: pointer;
}

.page_current, .page_limit {
    padding: 5px;
    cursor: pointer;
    background: #f57c00;
    font-weight: bold;
    border-top: 50px;
}

.timelineItem {
    background: #fff;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    width: 800px;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }
    100% {
        background-position: 468px 0
    }
}

.animatedBackground {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 500px;
    height: 140px;
    position: relative;
}

.btn {
    color: rgba(0, 0, 0, 0.87);
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
}
/*.btns{
    display: flex;
    justify-content: flex-start;

}*/
.download {
    display: flex;
    margin-right: auto;
}