.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.filter{
    justify-content: center;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.contentBody{
    width: 800px;
}