.card {
    margin: 10px;
    padding: 20px;
    height: auto;
    width: 700px;
}

.list {
    margin: 20px;
    padding: 20px;
}

.typography {
    text-align: center
}

.buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}